/* NAVBAR* */

#main-header .navbar h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

#main-header .navbar ul li a {
    font-size: 1.2rem;
    padding: 10px;
}


/* ARTICLES */
#home-article .articles-container {
    grid-template-columns: repeat(2, 1fr);
}

#home-article .articles-container>*:first-child {
    grid-template-columns: 1fr;
    grid-column: 1
}

#home-article .articles-container>*:last-child {
    grid-column: 1/span 2;
}

/* SHOWCASE */
.left-slide h2 {
    font-size: 1.5rem;
}

.left-slide p {
    font-size: 1rem;
}


/* FOOTER */
#footer {
    display: flex;
}

#footer>div {
    display: flex;
    flex-direction: column;
}

#footer .email-newsletter {
    margin: 20px;
}






@media(max-width: 800px) {
    #main-header .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100px;
        padding: 10px;
    }



}



@media(max-width: 500px) {
    #home-article .articles-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #home-article .articles-container>*:first-child {
        grid-template-columns: 1fr;
        grid-column: 1
    }

    #home-article .articles-container>*:last-child {
        grid-template-columns: 1fr;
        grid-column: 1
    }

    #showcase button {
        position: absolute;
        top: 50%;
        left: 10%;
        z-index: 5;
    }

    .left-slide {
        display: none;
    }

    .right-slide {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    .right-slide {
        background-size: cover;
    }
}

@media(max-width: 400px) {
    #main-header .navbar h1 {
        font-size: 1.5rem;
    }

    #main-header .navbar ul li a {
        font-size: 1rem;
        padding: 15px;
    }

    #main-header .content h1 {
        font-size: 1.4rem;
    }

    #main-header .content p {
        font-size: 1.1rem;
    }
}